*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

button, input {
  line-height: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }

  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }
}
/* ::Base styles */
/* ------------------------------------------------------------ */
html {
  font-size: 100%;
}
@media screen and (max-width: 767px) {
  html {
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}

body {
  background: #fafafa;
  color: #333332;
}

a {
  color: #333333;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  color: #858585;
}
a:not(> img) {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

.hero {
  position: relative;
  background-image: url(../img/Curitiba.jpg);
  background-color: #333333;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: 1.65em;
  padding-top: 2.2em;
  padding-bottom: 2.2em;
  height: 500px;
}

.lt-ie9 .logo {
  width: 100%;
  height: auto;
  padding-top: 5.75em;
  padding-left: 4%;
  padding-right: 8%;
}
@media screen and (min-width: 300px) {
  .logo {
    width: 100%;
    height: auto;
    padding-top: 5.75em;
    padding-left: 4%;
    padding-right: 8%;
  }
}

.cent {
  width: 100%;
}

.border-2 {
  border-bottom: 2px dotted black;
  width: 95%;
  margin: 0 auto;
  margin-top: 0.825em;
  margin-bottom: 0.275em;
}

.feature-section {
  width: 100%;
}

.footer {
  background-color: darkgrey;
}

p.is-unit-thin.current {
  font-size: 2.375em;
  line-height: 1.1578947em;
  margin: 0 0 0 0;
  padding-bottom: 0.55em;
  width: 100%;
  text-align: left;
}

.current-issue {
  margin-top: 1.925em;
}

.image-half-left {
  margin-top: 3.3em;
  float: left;
}
.lt-ie9 .image-half-left {
  width: 100%;
}
@media screen and (min-width: 300px) {
  .image-half-left {
    width: 100%;
  }
}
.lt-ie9 .image-half-left {
  width: 65%;
}
@media screen and (min-width: 900px) {
  .image-half-left {
    width: 65%;
  }
}

.lt-ie9 div.vignette img {
  width: 100%;
  margin-top: 1.1em;
}
@media screen and (min-width: 300px) {
  div.vignette img {
    width: 100%;
    margin-top: 1.1em;
  }
}
.lt-ie9 div.vignette img {
  width: 50%;
  float: left;
  margin-top: 0.55em;
}
@media screen and (min-width: 900px) {
  div.vignette img {
    width: 50%;
    float: left;
    margin-top: 0.55em;
  }
}
.lt-ie9 div.vignette img {
  width: 35%;
  float: left;
  margin-top: 0.55em;
}
@media screen and (min-width: 1100px) {
  div.vignette img {
    width: 35%;
    float: left;
    margin-top: 0.55em;
  }
}

.lt-ie9 div.vignette-feature img {
  width: 47%;
  margin-top: 1.1em;
  padding-right: 2.5%;
  float: left;
}
@media screen and (min-width: 300px) {
  div.vignette-feature img {
    width: 47%;
    margin-top: 1.1em;
    padding-right: 2.5%;
    float: left;
  }
}

div.half-right-grid {
  margin-top: 3.3em;
  float: right;
  width: 35%;
}
div.half-right-grid .colspan8-1 {
  width: 12.5%;
}
div.half-right-grid .colspan8-2 {
  width: 25%;
}
div.half-right-grid .colspan8-3 {
  width: 37.5%;
}
div.half-right-grid .colspan8-4 {
  width: 50%;
}
div.half-right-grid .colspan8-5 {
  width: 62.5%;
}
div.half-right-grid .colspan8-6 {
  width: 75%;
}
div.half-right-grid .colspan8-7 {
  width: 87.5%;
}
div.half-right-grid .colspan8-8 {
  width: 100%;
}
div.half-right-grid .push8-1 {
  margin-left: 12.5%;
}
div.half-right-grid .push8-2 {
  margin-left: 25%;
}
div.half-right-grid .push8-3 {
  margin-left: 37.5%;
}
div.half-right-grid .push8-4 {
  margin-left: 50%;
}
div.half-right-grid .push8-5 {
  margin-left: 62.5%;
}
div.half-right-grid .push8-6 {
  margin-left: 75%;
}
div.half-right-grid .push8-7 {
  margin-left: 87.5%;
}
div.half-right-grid .push8-8 {
  margin-left: 100%;
}
div.half-right-grid .pull8-1 {
  margin-right: 12.5%;
}
div.half-right-grid .pull8-2 {
  margin-right: 25%;
}
div.half-right-grid .pull8-3 {
  margin-right: 37.5%;
}
div.half-right-grid .pull8-4 {
  margin-right: 50%;
}
div.half-right-grid .pull8-5 {
  margin-right: 62.5%;
}
div.half-right-grid .pull8-6 {
  margin-right: 75%;
}
div.half-right-grid .pull8-7 {
  margin-right: 87.5%;
}
div.half-right-grid .pull8-8 {
  margin-right: 100%;
}
div.half-right-grid .push-disable8 {
  margin-left: 0;
}
div.half-right-grid .pull-disable8 {
  margin-right: 0;
}
div.half-right-grid .hide-at8 {
  display: none;
}
div.half-right-grid .block-show-at8 {
  display: block;
}
div.half-right-grid .inline-show-at8 {
  display: inline;
  display: inline-block;
}

.wordbreak {
  word-break: break-all;
}

.grey {
  fill: #92000C;
}

.lt-ie9 section.issue-notes {
  display: none;
}
@media screen and (min-width: 300px) {
  section.issue-notes {
    display: none;
  }
}
.lt-ie9 section.issue-notes {
  display: block;
}
@media screen and (min-width: 900px) {
  section.issue-notes {
    display: block;
  }
}
.lt-ie9 section.issue-notes {
  display: none;
}
@media screen and (min-width: 1100px) {
  section.issue-notes {
    display: none;
  }
}

.lt-ie9 .glob {
  margin-left: 2px;
  margin-bottom: 30px;
}
@media screen and (min-width: 420px) {
  .glob {
    margin-left: 2px;
    margin-bottom: 30px;
  }
}
.lt-ie9 .glob {
  margin-left: 0px;
  margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
  .glob {
    margin-left: 0px;
    margin-bottom: 30px;
  }
}
.lt-ie9 .glob {
  margin-left: 320px;
  margin-bottom: 30px;
}
@media screen and (min-width: 900px) {
  .glob {
    margin-left: 320px;
    margin-bottom: 30px;
  }
}
.lt-ie9 .glob {
  margin-left: 260px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1100px) {
  .glob {
    margin-left: 260px;
    margin-bottom: 30px;
  }
}

.intro-text {
  font-family: 'tisaotregular';
  margin-top: -2.75em;
  font-size: 1.875em;
  line-height: 1.1733333em;
  line-height: 38px;
  text-align: center;
}

.lt-ie9 .big-intro-text {
  font-size: 1.25em;
  line-height: 1.32em;
  font-family: 'tisaotregular';
  height: 200px;
  color: black;
  padding-top: 0.825em;
  padding-left: 20px;
  padding-right: 20px;
}
.lt-ie9 .big-intro-text i {
  font-family: 'tisa_otregular_italic';
}
.lt-ie9 .big-intro-text b {
  font-family: 'tisa_otmedium';
}
@media screen and (min-width: 300px) {
  .big-intro-text {
    font-size: 1.25em;
    line-height: 1.32em;
    font-family: 'tisaotregular';
    height: 200px;
    color: black;
    padding-top: 0.825em;
    padding-left: 20px;
    padding-right: 20px;
  }
  .big-intro-text i {
    font-family: 'tisa_otregular_italic';
  }
  .big-intro-text b {
    font-family: 'tisa_otmedium';
  }
}
.lt-ie9 .big-intro-text {
  font-size: 2em;
  line-height: 1.2375em;
  height: 200px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 1.65em;
}
@media screen and (min-width: 420px) {
  .big-intro-text {
    font-size: 2em;
    line-height: 1.2375em;
    height: 200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 1.65em;
  }
}
.lt-ie9 .big-intro-text {
  font-size: 2em;
  line-height: 1.2375em;
  height: 200px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 1.65em;
}
@media screen and (min-width: 600px) {
  .big-intro-text {
    font-size: 2em;
    line-height: 1.2375em;
    height: 200px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 1.65em;
  }
}
.lt-ie9 .big-intro-text {
  font-size: 2.5em;
  line-height: 1.1em;
  height: 200px;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 1.65em;
}
@media screen and (min-width: 900px) {
  .big-intro-text {
    font-size: 2.5em;
    line-height: 1.1em;
    height: 200px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 1.65em;
  }
}
.lt-ie9 .big-intro-text {
  height: 200px;
  font-size: 3.125em;
  line-height: 1.144em;
}
@media screen and (min-width: 1100px) {
  .big-intro-text {
    height: 200px;
    font-size: 3.125em;
    line-height: 1.144em;
  }
}
.lt-ie9 .big-intro-text {
  font-size: 3.75em;
  line-height: 1.1em;
  height: 200px;
  line-height: 72px;
}
@media screen and (min-width: 1300px) {
  .big-intro-text {
    font-size: 3.75em;
    line-height: 1.1em;
    height: 200px;
    line-height: 72px;
  }
}

span.tisa-italic {
  font-family: 'tisa_otregular_italic';
}

div.row-parent.jamie-lemer {
  position: relative;
  background-image: url(../img/Curitiba.jpg);
  background-color: #333333;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 2.2em;
  padding-bottom: 2.2em;
  height: 500px;
  border-bottom: white 5px solid;
}

div.row-parent.peter-malaise {
  position: relative;
  background-image: url(../img/rinko-kawauchi.jpg);
  background-color: #333333;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 2.2em;
  padding-bottom: 2.2em;
  height: 500px;
  border-bottom: white 5px solid;
}

div.row-parent.curitiba {
  position: relative;
  background-image: url(../img/jcb.jpg);
  background-color: #333333;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 2.2em;
  padding-bottom: 2.2em;
  height: 500px;
  border-bottom: white 5px solid;
}

div.row-parent.trees {
  position: relative;
  background-image: url(../img/trees.jpg);
  background-color: #333333;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 2.2em;
  padding-bottom: 2.2em;
  height: 500px;
  border-bottom: white 5px solid;
}

img.in-article-img {
  width: 140%;
  margin-left: -20%;
  margin-top: 1.65em;
}

div.col__module.curitiba-mod {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1px 20px 20px 20px;
}
div.col__module.curitiba-mod h2 {
  opacity: 1;
}
div.col__module.curitiba-mod h1 {
  opacity: 1;
}
div.col__module.curitiba-mod p {
  opacity: 1;
}

ul.achive-list {
  list-style-position: outside;
  list-style-type: square;
  font-family: 'tisaotregular';
}

div.row-parent.archives {
  margin-top: 5.5em;
}

/* ::Import styles */
/* ------------------------------------------------------------ */
@font-face {
  font-family: 'skolar_cyrillicitalic';
  src: url("../../assets/fonts/skolarcyrillic_italic-webfont.eot");
  src: url("../../assets/fonts/skolarcyrillic_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/skolarcyrillic_italic-webfont.woff") format("woff"), url("../../assets/fonts/skolarcyrillic_italic-webfont.ttf") format("truetype"), url("../../assets/fonts/skolarcyrillic_italic-webfont.svg#skolar_cyrillicitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'skolar_cyrillicbold';
  src: url("../../assets/fonts/skolarcyrillic_bold-webfont.eot");
  src: url("../../assets/fonts/skolarcyrillic_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/skolarcyrillic_bold-webfont.woff") format("woff"), url("../../assets/fonts/skolarcyrillic_bold-webfont.ttf") format("truetype"), url("../../assets/fonts/skolarcyrillic_bold-webfont.svg#skolar_cyrillicbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'skolar_cyrillicregular';
  src: url("../../assets/fonts/skolarcyrillic_regular-webfont.eot");
  src: url("../../assets/fonts/skolarcyrillic_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/skolarcyrillic_regular-webfont.woff") format("woff"), url("../../assets/fonts/skolarcyrillic_regular-webfont.ttf") format("truetype"), url("../../assets/fonts/skolarcyrillic_regular-webfont.svg#skolar_cyrillicregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bitterbold';
  src: url("../../assets/fonts/bitter-bold-webfont.eot");
  src: url("../../assets/fonts/bitter-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/bitter-bold-webfont.woff") format("woff"), url("../../assets/fonts/bitter-bold-webfont.ttf") format("truetype"), url("../../assets/fonts/bitter-bold-webfont.svg#bitterbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bitterbold_italic';
  src: url("../../assets/fonts/bitter-bolditalic-webfont.eot");
  src: url("../../assets/fonts/bitter-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/bitter-bolditalic-webfont.woff") format("woff"), url("../../assets/fonts/bitter-bolditalic-webfont.ttf") format("truetype"), url("../../assets/fonts/bitter-bolditalic-webfont.svg#bitterbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bitteritalic';
  src: url("../../assets/fonts/bitter-italic-webfont.eot");
  src: url("../../assets/fonts/bitter-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/bitter-italic-webfont.woff") format("woff"), url("../../assets/fonts/bitter-italic-webfont.ttf") format("truetype"), url("../../assets/fonts/bitter-italic-webfont.svg#bitteritalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bitterregular';
  src: url("../../assets/fonts/bitter-regular-webfont.eot");
  src: url("../../assets/fonts/bitter-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/bitter-regular-webfont.woff") format("woff"), url("../../assets/fonts/bitter-regular-webfont.ttf") format("truetype"), url("../../assets/fonts/bitter-regular-webfont.svg#bitterregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tisa_otbold';
  src: url("../../assets/fonts/tisaot-bold-webfont.eot");
  src: url("../../assets/fonts/tisaot-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/tisaot-bold-webfont.woff") format("woff"), url("../../assets/fonts/tisaot-bold-webfont.ttf") format("truetype"), url("../../assets/fonts/tisaot-bold-webfont.svg#tisa_otbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tisa_otbold_italic';
  src: url("../../assets/fonts/tisaot-boldita-webfont.eot");
  src: url("../../assets/fonts/tisaot-boldita-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/tisaot-boldita-webfont.woff") format("woff"), url("../../assets/fonts/tisaot-boldita-webfont.ttf") format("truetype"), url("../../assets/fonts/tisaot-boldita-webfont.svg#tisa_otbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tisa_otregular_italic';
  src: url("../../assets/fonts/tisaot-ita-webfont.eot");
  src: url("../../assets/fonts/tisaot-ita-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/tisaot-ita-webfont.woff") format("woff"), url("../../assets/fonts/tisaot-ita-webfont.ttf") format("truetype"), url("../../assets/fonts/tisaot-ita-webfont.svg#tisa_otregular_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tisa_otmedium_italic';
  src: url("../../assets/fonts/tisaot-mediita-webfont.eot");
  src: url("../../assets/fonts/tisaot-mediita-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/tisaot-mediita-webfont.woff") format("woff"), url("../../assets/fonts/tisaot-mediita-webfont.ttf") format("truetype"), url("../../assets/fonts/tisaot-mediita-webfont.svg#tisa_otmedium_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tisa_otmedium';
  src: url("../../assets/fonts/tisaot-medi-webfont.eot");
  src: url("../../assets/fonts/tisaot-medi-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/tisaot-medi-webfont.woff") format("woff"), url("../../assets/fonts/tisaot-medi-webfont.ttf") format("truetype"), url("../../assets/fonts/tisaot-medi-webfont.svg#tisa_otmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tisaotregular';
  src: url("../../assets/fonts/tisaot-webfont.eot");
  src: url("../../assets/fonts/tisaot-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/tisaot-webfont.woff") format("woff"), url("../../assets/fonts/tisaot-webfont.ttf") format("truetype"), url("../../assets/fonts/tisaot-webfont.svg#tisaotregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unitblacktf';
  src: url("../../assets/fonts/unit-blacktf-webfont.eot");
  src: url("../../assets/fonts/unit-blacktf-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/unit-blacktf-webfont.woff") format("woff"), url("../../assets/fonts/unit-blacktf-webfont.ttf") format("truetype"), url("../../assets/fonts/unit-blacktf-webfont.svg#unitblacktf") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unitthin';
  src: url("../../assets/fonts/unit-thin-webfont.eot");
  src: url("../../assets/fonts/unit-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/unit-thin-webfont.woff") format("woff"), url("../../assets/fonts/unit-thin-webfont.ttf") format("truetype"), url("../../assets/fonts/unit-thin-webfont.svg#unitthin") format("svg");
  font-weight: normal;
  font-style: normal;
}

.is-skolar {
  font-family: 'skolar_cyrillicregular';
}

.is-skolar-italic {
  font-family: 'skolar_cyrillicitalic';
}

.is-skolar-bold {
  font-family: 'skolar_cyrillicbold';
}

.is-bitter-bold {
  font-family: 'bitterbold';
}

.is-bitter-bold-italic {
  font-family: 'bitterbold_itlaic';
}

.is-bitter-italic {
  font-family: 'bitteritalic';
}

.is-bitter-regular {
  font-family: 'bitterregular';
}

.is-tisa-bold {
  font-family: 'tisa_otbold';
}

.is-tisa-bold-italic {
  font-family: 'tisa_otbold_italic';
}

.is-tisa-regular-italic {
  font-family: 'tisa_otregular_italic';
}

.is-tisa-medium-italic {
  font-family: 'tisa_otmedium_italic';
}

.is-tisa-medium {
  font-family: 'tisa_otmedium';
}

.is-tisa-regular {
  font-family: 'tisaotregular';
}

.is-unit {
  font-family: 'unitblacktf';
}

.is-unit-thin {
  font-family: 'unitthin';
}

p, span, cite, ol, ul, pre, label, input, textarea {
  font-size: 1.0625em;
  line-height: 1.2941176em;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

li {
  line-height: inherit;
}

label, legend, select {
  display: block;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  *margin-top: 4px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

.as-heading__headline, .is-typeset .headline {
  font-size: 2.625em;
  line-height: 1.152381em;
}

.as-heading__largest, .is-typeset h1 {
  font-size: 2em;
  line-height: 1.2375em;
}

.as-heading__large, .is-typeset h2 {
  font-size: 1.75em;
  line-height: 1.2571429em;
}

.as-heading__medium, .is-typeset h3 {
  font-size: 1.625em;
  line-height: 1.1846154em;
}

.as-heading__normal, .is-typeset h4 {
  font-size: 1.5em;
  line-height: 1.2833333em;
}

.as-heading__small, .is-typeset h5 {
  font-size: 1.25em;
  line-height: 1.32em;
}

.as-heading__smallest, .is-typeset h6 {
  font-size: 1.125em;
  line-height: 1.2222222em;
}

.as-blockquote, .as-blockquote--typeset, .is-typeset blockquote {
  font-size: 2em;
  line-height: 1.2375em;
  line-height: normal;
}
.as-blockquote p, .as-blockquote--typeset p, .is-typeset blockquote p {
  margin: 0;
  font-style: italic;
}

.as-para {
  font-size: 1.0625em;
  line-height: 1.2941176em;
}

.as-heading__headline--typeset, .is-typeset .headline {
  margin: 0 0 0.3142857em 0;
}

.as-heading__largest--typeset, .is-typeset h1 {
  margin: 0 0 0.4125em 0;
}

.as-heading__large--typeset, .is-typeset h2 {
  margin: 0 0 0.4714286em 0;
}

.as-heading__medium--typeset, .is-typeset h3 {
  margin: 0 0 0.5076923em 0;
}

.as-heading__normal--typeset, .is-typeset h4 {
  margin: 0 0 0.55em 0;
}

.as-heading__small--typeset, .is-typeset h5 {
  margin: 0 0 0.66em 0;
}

.as-heading__smallest--typeset, .is-typeset h6 {
  margin: 0 0 0.7333333em 0;
}

.as-para--typeset, .is-typeset p {
  margin: 0 0 0.5176471em 0;
}

.as-list--typeset, .as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul, .is-typeset li {
  margin: 0 0 0.5176471em 0;
}

.as-unordered-list--typeset, .as-ordered-list--typeset, .is-typeset ol, .is-typeset ul {
  margin-left: 1em;
  list-style-position: outside;
  list-style-type: square;
}

.as-ordered-list--typeset, .is-typeset ol {
  list-style-position: outside;
  list-style-type: decimal;
}

.as-blockquote--typeset, .is-typeset blockquote {
  margin: 0.825em 0;
}

.is-unit.main-header {
  font-size: 50px;
  margin: 0 0 0 0;
  padding-bottom: 15px;
  margin-right: 20px;
  padding-top: 0.275em;
}

.is-unit.main-header-home {
  font-size: 46px;
  margin: 0 0 0 0;
}

.is-unit.secondary-header-home {
  font-size: 32px;
  margin: 0 0 0 0;
}

.lt-ie9 .is-unit.subtitle {
  font-size: 26px;
  margin: 0 0 0 0;
  margin-left: 4%;
  margin-top: -5px;
  margin-bottom: 80px;
}
@media screen and (min-width: 300px) {
  .is-unit.subtitle {
    font-size: 26px;
    margin: 0 0 0 0;
    margin-left: 4%;
    margin-top: -5px;
    margin-bottom: 80px;
  }
}
.lt-ie9 .is-unit.subtitle {
  margin-top: -25px;
}
@media screen and (min-width: 420px) {
  .is-unit.subtitle {
    margin-top: -25px;
  }
}
.lt-ie9 .is-unit.subtitle {
  font-size: 28px;
}
@media screen and (min-width: 600px) {
  .is-unit.subtitle {
    font-size: 28px;
  }
}
.lt-ie9 .is-unit.subtitle {
  font-size: 40px;
}
@media screen and (min-width: 900px) {
  .is-unit.subtitle {
    font-size: 40px;
  }
}

.is-unit.categories {
  margin: 0 0 0 0;
  margin-top: 50px;
  border-top: solid 1px black;
  margin-left: 50%;
}

.is-unit.categories-home {
  margin: 0 0 0 0;
  width: 100%;
  text-align: left;
  font-size: 1.375em;
  line-height: 1.2em;
  font-family: 'unitthin';
  padding-top: 0.55em;
}

.is-unit.categories-left {
  margin: 0 0 0 0;
  margin-top: 50px;
  border-bottom: solid 1px black;
  margin-bottom: 1.1em;
  padding-bottom: 0.275em;
}

p.is-skolar {
  font-size: 1.25em;
  line-height: 1.32em;
  line-height: 23px;
}

p.is-skolar i {
  font-family: 'skolar_cyrillicitalic';
  font-size: 1em;
  line-height: 1.375em;
}

p.is-skolar-home i {
  font-family: 'skolar_cyrillicitalic';
  font-size: 1em;
  line-height: 1.375em;
}

p.is-skolar-home {
  font-family: 'skolar_cyrillicregular';
  font-size: 1em;
  line-height: 1.375em;
}

p.is-skolar.chapeau {
  font-size: 28px;
  margin-top: 0.275em;
  margin-bottom: 0.55em;
}

p.is-skolar.chapeau-secondary {
  font-size: 1.375em;
  line-height: 1.2em;
  margin-top: 0.275em;
  margin-bottom: 0.55em;
}

p.is-bitter-regular {
  line-height: 25px;
}

p.is-bitter-regular.chapeau {
  font-size: 34px;
}

p.is-tisa-regular {
  line-height: 23px;
}

.lt-ie9 p.tisa-quote {
  font-family: 'tisa_otregular_italic';
  width: 90%;
  font-size: 34px;
  line-height: 40px;
  padding-bottom: 20px;
}
@media screen and (min-width: 300px) {
  p.tisa-quote {
    font-family: 'tisa_otregular_italic';
    width: 90%;
    font-size: 34px;
    line-height: 40px;
    padding-bottom: 20px;
  }
}
.lt-ie9 p.tisa-quote {
  width: 110%;
  margin-left: -2.5%;
}
@media screen and (min-width: 600px) {
  p.tisa-quote {
    width: 110%;
    margin-left: -2.5%;
  }
}

p.tisa-note {
  font-family: 'unitblacktf';
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 2.2em;
  text-align: right;
}

.lt-ie9 p.is-unit-thin {
  font-family: 'unitthin';
  font-weight: 100;
  font-size: 16px;
  text-align: right;
  margin-bottom: 0.55em;
}
@media screen and (min-width: 300px) {
  p.is-unit-thin {
    font-family: 'unitthin';
    font-weight: 100;
    font-size: 16px;
    text-align: right;
    margin-bottom: 0.55em;
  }
}
.lt-ie9 p.is-unit-thin {
  margin-bottom: 2.2em;
  width: 30%;
  margin-left: 77%;
}
@media screen and (min-width: 1100px) {
  p.is-unit-thin {
    margin-bottom: 2.2em;
    width: 30%;
    margin-left: 77%;
  }
}

.lt-ie9 p.is-tisa-regular.plus {
  font-size: 1em;
  line-height: 1.375em;
  line-height: 22px;
  padding-bottom: 20px;
}
@media screen and (min-width: 300px) {
  p.is-tisa-regular.plus {
    font-size: 1em;
    line-height: 1.375em;
    line-height: 22px;
    padding-bottom: 20px;
  }
}
.lt-ie9 p.is-tisa-regular.plus {
  font-size: 1.25em;
  line-height: 1.32em;
  line-height: 27px;
}
@media screen and (min-width: 600px) {
  p.is-tisa-regular.plus {
    font-size: 1.25em;
    line-height: 1.32em;
    line-height: 27px;
  }
}

.lt-ie9 p.is-tisa-regular.plus-home {
  font-size: 1em;
  line-height: 1.375em;
  margin-top: -1.65em;
  line-height: 22px;
  padding-bottom: 20px;
}
@media screen and (min-width: 300px) {
  p.is-tisa-regular.plus-home {
    font-size: 1em;
    line-height: 1.375em;
    margin-top: -1.65em;
    line-height: 22px;
    padding-bottom: 20px;
  }
}
.lt-ie9 p.is-tisa-regular.plus-home {
  font-size: 1.25em;
  line-height: 1.32em;
  line-height: 27px;
}
@media screen and (min-width: 600px) {
  p.is-tisa-regular.plus-home {
    font-size: 1.25em;
    line-height: 1.32em;
    line-height: 27px;
  }
}

.lt-ie9 p.is-tisa-regular.plus b {
  font-family: 'tisa_otbold';
  font-size: 1em;
  line-height: 1.375em;
  line-height: 21px;
  padding-bottom: 20px;
}
@media screen and (min-width: 300px) {
  p.is-tisa-regular.plus b {
    font-family: 'tisa_otbold';
    font-size: 1em;
    line-height: 1.375em;
    line-height: 21px;
    padding-bottom: 20px;
  }
}

.lt-ie9 p.is-tisa-regular.plus i {
  font-size: 1em;
  line-height: 1.375em;
  font-family: 'tisa_otregular_italic';
  line-height: 21px;
  padding-bottom: 20px;
}
@media screen and (min-width: 300px) {
  p.is-tisa-regular.plus i {
    font-size: 1em;
    line-height: 1.375em;
    font-family: 'tisa_otregular_italic';
    line-height: 21px;
    padding-bottom: 20px;
  }
}

.lt-ie9 p.is-tisa-regular.plus b i {
  font-family: 'tisa_otbold_italic';
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 20px;
}
@media screen and (min-width: 300px) {
  p.is-tisa-regular.plus b i {
    font-family: 'tisa_otbold_italic';
    font-size: 16px;
    line-height: 21px;
    padding-bottom: 20px;
  }
}
.lt-ie9 p.is-tisa-regular.plus b i {
  font-size: 1.125em;
  line-height: 1.2222222em;
}
@media screen and (min-width: 600px) {
  p.is-tisa-regular.plus b i {
    font-size: 1.125em;
    line-height: 1.2222222em;
  }
}

p.is-tisa-regular.chapeau {
  font-family: 'tisa_otmedium';
  margin-bottom: 1.1em;
  font-size: 34px;
  line-height: 40px;
}

p.is-tisa-regular.chapeau-home {
  font-family: 'tisa_otmedium';
  margin-bottom: 1.1em;
  font-size: 30px;
  line-height: 40px;
}

sup.sup {
  vertical-align: super;
  font-size: 0.7em;
}

.row, .row__colspaced {
  *zoom: 1;
}
.row:after, .row__colspaced:after {
  content: "";
  display: table;
  clear: both;
}

*[class*="colspan"] {
  width: 100%;
  display: block;
}

*[class*="as-grid"] {
  float: left;
  display: inline;
  display: inline-block;
}

.lt-ie9 *[class*="with-gutter"] {
  padding-left: 3%;
}
@media screen and (min-width: 420px) {
  *[class*="with-gutter"] {
    padding-left: 3%;
  }
}

.row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 420px) {
  .row {
    min-width: 420px;
  }
  .row .colspan2-1 {
    width: 50%;
  }
  .row .colspan2-2 {
    width: 100%;
  }
  .row .push2-1 {
    margin-left: 50%;
  }
  .row .push2-2 {
    margin-left: 100%;
  }
  .row .pull2-1 {
    margin-right: 50%;
  }
  .row .pull2-2 {
    margin-right: 100%;
  }
  .row .push-disable2 {
    margin-left: 0;
  }
  .row .pull-disable2 {
    margin-right: 0;
  }
  .row .hide-at2 {
    display: none;
  }
  .row .block-show-at2 {
    display: block;
  }
  .row .inline-show-at2 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 600px) {
  .row {
    padding-left: 40px;
    padding-right: 40px;
    min-width: 600px;
  }
  .row .colspan6-1 {
    width: 16.6666667%;
  }
  .row .colspan6-2 {
    width: 33.3333333%;
  }
  .row .colspan6-3 {
    width: 50%;
  }
  .row .colspan6-4 {
    width: 66.6666667%;
  }
  .row .colspan6-5 {
    width: 83.3333333%;
  }
  .row .colspan6-6 {
    width: 100%;
  }
  .row .push6-1 {
    margin-left: 16.6666667%;
  }
  .row .push6-2 {
    margin-left: 33.3333333%;
  }
  .row .push6-3 {
    margin-left: 50%;
  }
  .row .push6-4 {
    margin-left: 66.6666667%;
  }
  .row .push6-5 {
    margin-left: 83.3333333%;
  }
  .row .push6-6 {
    margin-left: 100%;
  }
  .row .pull6-1 {
    margin-right: 16.6666667%;
  }
  .row .pull6-2 {
    margin-right: 33.3333333%;
  }
  .row .pull6-3 {
    margin-right: 50%;
  }
  .row .pull6-4 {
    margin-right: 66.6666667%;
  }
  .row .pull6-5 {
    margin-right: 83.3333333%;
  }
  .row .pull6-6 {
    margin-right: 100%;
  }
  .row .push-disable6 {
    margin-left: 0;
  }
  .row .pull-disable6 {
    margin-right: 0;
  }
  .row .hide-at6 {
    display: none;
  }
  .row .block-show-at6 {
    display: block;
  }
  .row .inline-show-at6 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 900px) {
  .row {
    min-width: 900px;
  }
  .row .colspan8-1 {
    width: 12.5%;
  }
  .row .colspan8-2 {
    width: 25%;
  }
  .row .colspan8-3 {
    width: 37.5%;
  }
  .row .colspan8-4 {
    width: 50%;
  }
  .row .colspan8-5 {
    width: 62.5%;
  }
  .row .colspan8-6 {
    width: 75%;
  }
  .row .colspan8-7 {
    width: 87.5%;
  }
  .row .colspan8-8 {
    width: 100%;
  }
  .row .push8-1 {
    margin-left: 12.5%;
  }
  .row .push8-2 {
    margin-left: 25%;
  }
  .row .push8-3 {
    margin-left: 37.5%;
  }
  .row .push8-4 {
    margin-left: 50%;
  }
  .row .push8-5 {
    margin-left: 62.5%;
  }
  .row .push8-6 {
    margin-left: 75%;
  }
  .row .push8-7 {
    margin-left: 87.5%;
  }
  .row .push8-8 {
    margin-left: 100%;
  }
  .row .pull8-1 {
    margin-right: 12.5%;
  }
  .row .pull8-2 {
    margin-right: 25%;
  }
  .row .pull8-3 {
    margin-right: 37.5%;
  }
  .row .pull8-4 {
    margin-right: 50%;
  }
  .row .pull8-5 {
    margin-right: 62.5%;
  }
  .row .pull8-6 {
    margin-right: 75%;
  }
  .row .pull8-7 {
    margin-right: 87.5%;
  }
  .row .pull8-8 {
    margin-right: 100%;
  }
  .row .push-disable8 {
    margin-left: 0;
  }
  .row .pull-disable8 {
    margin-right: 0;
  }
  .row .hide-at8 {
    display: none;
  }
  .row .block-show-at8 {
    display: block;
  }
  .row .inline-show-at8 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1100px) {
  .row {
    min-width: 1100px;
  }
  .row .colspan12-1 {
    width: 8.3333333%;
  }
  .row .colspan12-2 {
    width: 16.6666667%;
  }
  .row .colspan12-3 {
    width: 25%;
  }
  .row .colspan12-4 {
    width: 33.3333333%;
  }
  .row .colspan12-5 {
    width: 41.6666667%;
  }
  .row .colspan12-6 {
    width: 50%;
  }
  .row .colspan12-7 {
    width: 58.3333333%;
  }
  .row .colspan12-8 {
    width: 66.6666667%;
  }
  .row .colspan12-9 {
    width: 75%;
  }
  .row .colspan12-10 {
    width: 83.3333333%;
  }
  .row .colspan12-11 {
    width: 91.6666667%;
  }
  .row .colspan12-12 {
    width: 100%;
  }
  .row .push12-1 {
    margin-left: 8.3333333%;
  }
  .row .push12-2 {
    margin-left: 16.6666667%;
  }
  .row .push12-3 {
    margin-left: 25%;
  }
  .row .push12-4 {
    margin-left: 33.3333333%;
  }
  .row .push12-5 {
    margin-left: 41.6666667%;
  }
  .row .push12-6 {
    margin-left: 50%;
  }
  .row .push12-7 {
    margin-left: 58.3333333%;
  }
  .row .push12-8 {
    margin-left: 66.6666667%;
  }
  .row .push12-9 {
    margin-left: 75%;
  }
  .row .push12-10 {
    margin-left: 83.3333333%;
  }
  .row .push12-11 {
    margin-left: 91.6666667%;
  }
  .row .push12-12 {
    margin-left: 100%;
  }
  .row .pull12-1 {
    margin-right: 8.3333333%;
  }
  .row .pull12-2 {
    margin-right: 16.6666667%;
  }
  .row .pull12-3 {
    margin-right: 25%;
  }
  .row .pull12-4 {
    margin-right: 33.3333333%;
  }
  .row .pull12-5 {
    margin-right: 41.6666667%;
  }
  .row .pull12-6 {
    margin-right: 50%;
  }
  .row .pull12-7 {
    margin-right: 58.3333333%;
  }
  .row .pull12-8 {
    margin-right: 66.6666667%;
  }
  .row .pull12-9 {
    margin-right: 75%;
  }
  .row .pull12-10 {
    margin-right: 83.3333333%;
  }
  .row .pull12-11 {
    margin-right: 91.6666667%;
  }
  .row .pull12-12 {
    margin-right: 100%;
  }
  .row .push-disable12 {
    margin-left: 0;
  }
  .row .pull-disable12 {
    margin-right: 0;
  }
  .row .hide-at12 {
    display: none;
  }
  .row .block-show-at12 {
    display: block;
  }
  .row .inline-show-at12 {
    display: inline;
    display: inline-block;
  }
}
@media screen and (min-width: 1300px) {
  .row {
    width: 1300px;
  }
}
.lt-ie9 .row {
  width: 980px;
}
.lt-ie9 .row .colspan12-1 {
  width: 8.3333333%;
}
.lt-ie9 .row .colspan12-2 {
  width: 16.6666667%;
}
.lt-ie9 .row .colspan12-3 {
  width: 25%;
}
.lt-ie9 .row .colspan12-4 {
  width: 33.3333333%;
}
.lt-ie9 .row .colspan12-5 {
  width: 41.6666667%;
}
.lt-ie9 .row .colspan12-6 {
  width: 50%;
}
.lt-ie9 .row .colspan12-7 {
  width: 58.3333333%;
}
.lt-ie9 .row .colspan12-8 {
  width: 66.6666667%;
}
.lt-ie9 .row .colspan12-9 {
  width: 75%;
}
.lt-ie9 .row .colspan12-10 {
  width: 83.3333333%;
}
.lt-ie9 .row .colspan12-11 {
  width: 91.6666667%;
}
.lt-ie9 .row .colspan12-12 {
  width: 100%;
}
.lt-ie9 .row .push12-1 {
  margin-left: 8.3333333%;
}
.lt-ie9 .row .push12-2 {
  margin-left: 16.6666667%;
}
.lt-ie9 .row .push12-3 {
  margin-left: 25%;
}
.lt-ie9 .row .push12-4 {
  margin-left: 33.3333333%;
}
.lt-ie9 .row .push12-5 {
  margin-left: 41.6666667%;
}
.lt-ie9 .row .push12-6 {
  margin-left: 50%;
}
.lt-ie9 .row .push12-7 {
  margin-left: 58.3333333%;
}
.lt-ie9 .row .push12-8 {
  margin-left: 66.6666667%;
}
.lt-ie9 .row .push12-9 {
  margin-left: 75%;
}
.lt-ie9 .row .push12-10 {
  margin-left: 83.3333333%;
}
.lt-ie9 .row .push12-11 {
  margin-left: 91.6666667%;
}
.lt-ie9 .row .push12-12 {
  margin-left: 100%;
}
.lt-ie9 .row .pull12-1 {
  margin-right: 8.3333333%;
}
.lt-ie9 .row .pull12-2 {
  margin-right: 16.6666667%;
}
.lt-ie9 .row .pull12-3 {
  margin-right: 25%;
}
.lt-ie9 .row .pull12-4 {
  margin-right: 33.3333333%;
}
.lt-ie9 .row .pull12-5 {
  margin-right: 41.6666667%;
}
.lt-ie9 .row .pull12-6 {
  margin-right: 50%;
}
.lt-ie9 .row .pull12-7 {
  margin-right: 58.3333333%;
}
.lt-ie9 .row .pull12-8 {
  margin-right: 66.6666667%;
}
.lt-ie9 .row .pull12-9 {
  margin-right: 75%;
}
.lt-ie9 .row .pull12-10 {
  margin-right: 83.3333333%;
}
.lt-ie9 .row .pull12-11 {
  margin-right: 91.6666667%;
}
.lt-ie9 .row .pull12-12 {
  margin-right: 100%;
}
.lt-ie9 .row .push-disable12 {
  margin-left: 0;
}
.lt-ie9 .row .pull-disable12 {
  margin-right: 0;
}
.lt-ie9 .row .hide-at12 {
  display: none;
}
.lt-ie9 .row .block-show-at12 {
  display: block;
}
.lt-ie9 .row .inline-show-at12 {
  display: inline;
  display: inline-block;
}

.row__colspaced {
  position: relative;
}
.lt-ie9 .row__colspaced {
  min-width: 103%;
  left: -3%;
}
@media screen and (min-width: 420px) {
  .row__colspaced {
    min-width: 103%;
    left: -3%;
  }
}
.lt-ie9 .row__colspaced {
  max-width: 100%;
  min-width: auto;
  left: auto;
}

/* ::Print */
/* ------------------------------------------------------------ */
@media print {
  body {
    line-height: 0.55em;
    font-size: 62.5%;
  }
}
