@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// ------------------------------------------------------------
// Typset size modules
// ------------------------------------------------------------

.as-heading__headline 			{ @include adjust-font-size-to($alpha); } 
.as-heading__largest 			{ @include adjust-font-size-to($beta); } 	
.as-heading__large 				{ @include adjust-font-size-to($gamma); } 	
.as-heading__medium				{ @include adjust-font-size-to($delta); } 	
.as-heading__normal 			{ @include adjust-font-size-to($epsilon); } 	
.as-heading__small 				{ @include adjust-font-size-to($zeta); } 	
.as-heading__smallest			{ @include adjust-font-size-to($eta); } 	
.as-blockquote 					{ @include adjust-font-size-to($quote); line-height: normal; p { margin: 0; font-style: italic; } }
.as-para 						{ @include adjust-font-size-to($para); }

// ------------------------------------------------------------
// Typesetting & rhythm matching
// ------------------------------------------------------------

// Set rhythm for headers
.as-heading__headline--typeset 			{ margin: 0 0 rhythm(3, $alpha) 0;	} 
.as-heading__largest--typeset 			{ margin: 0 0 rhythm(3, $beta) 0;	} 	
.as-heading__large--typeset				{ margin: 0 0 rhythm(3, $gamma) 0; } 	
.as-heading__medium--typeset			{ margin: 0 0 rhythm(3, $delta) 0; } 	
.as-heading__normal--typeset 			{ margin: 0 0 rhythm(3, $epsilon) 0; }  	
.as-heading__small--typeset 			{ margin: 0 0 rhythm(3, $zeta) 0; } 	
.as-heading__smallest--typeset			{ margin: 0 0 rhythm(3, $eta) 0; }  
	
	
// Set rhythm for paragraphs and lists
.as-para--typeset 						{ margin: 0 0 rhythm(2, $para) 0; }
.as-list--typeset 						{ margin: 0 0 rhythm(2, $para) 0; }

.as-unordered-list--typeset 			{ @extend .as-list--typeset; margin-left: 1em; @include unordered; }
.as-ordered-list--typeset 				{ @extend .as-unordered-list--typeset; @include ordered; }
.as-blockquote--typeset 				{ @extend .as-blockquote; margin: rhythm(6, $quote) 0; }


// Use on parent element to style elements within. E.g an article page
.is-typeset {
	.headline	{ @extend .as-heading__headline; 	@extend .as-heading__headline--typeset; } 
	h1			{ @extend .as-heading__largest; 	@extend .as-heading__largest--typeset; } 	
	h2 			{ @extend .as-heading__large; 		@extend .as-heading__large--typeset; } 	
	h3			{ @extend .as-heading__medium; 		@extend .as-heading__medium--typeset; } 	
	h4 			{ @extend .as-heading__normal; 		@extend .as-heading__normal--typeset; }  	
	h5			{ @extend .as-heading__small; 		@extend .as-heading__small--typeset; } 	
	h6			{ @extend .as-heading__smallest; 	@extend .as-heading__smallest--typeset; }  	
	p 			{ @extend .as-para--typeset; }
	ol			{ @extend .as-ordered-list--typeset; }
	ul 			{ @extend .as-unordered-list--typeset; }
	li 			{ @extend .as-list--typeset; }
	blockquote 	{ @extend .as-blockquote--typeset; }
}

.is-unit.main-header{
	font-size: 50px;
	//text-align: center;
	margin: 0 0 0 0;
	padding-bottom: 15px;
	margin-right: 20px;

	@include padding-leader(1);
}


.is-unit.main-header-home{
	font-size: 46px;
	//text-align: center;
	margin: 0 0 0 0;

}

.is-unit.secondary-header-home{
	font-size: 32px;
	//text-align: center;
	margin: 0 0 0 0;
}

.is-unit.subtitle{
	@include respond-to($a-vp){
	font-size: 26px;
	margin: 0 0 0 0;
	margin-left: 4%;
	margin-top: -5px;
	margin-bottom: 80px;
	}
	@include respond-to($b-vp){
	margin-top: -25px;
	}
	@include respond-to($c-vp){
	font-size: 28px;	
	}
	@include respond-to($d-vp){
	font-size: 40px;	
	}
}

.is-unit.categories{
	margin: 0 0 0 0;
	margin-top: 50px;
	border-top: solid 1px black;
	margin-left: 50%;
}

.is-unit.categories-home{
	margin: 0 0 0 0;
//	border-top: solid 1px black;
	width: 100%;
	text-align: left;
	@include adjust-font-size-to(22px);
	font-family: 'unitthin';
	@include padding-leader(2);
}

.is-unit.categories-left{
	margin: 0 0 0 0;
	margin-top: 50px;
	border-bottom: solid 1px black;
	@include trailer(4);
	@include padding-trailer(1);
}

p.is-skolar{
	
	@include adjust-font-size-to(20px);
	line-height: 23px;
}

p.is-skolar i{
	font-family: 'skolar_cyrillicitalic';
	@include adjust-font-size-to(16px);
}

p.is-skolar-home i {
	font-family: 'skolar_cyrillicitalic';
	@include adjust-font-size-to(16px);
}

p.is-skolar-home {
font-family: 'skolar_cyrillicregular';
	@include adjust-font-size-to(16px);
}

p.is-skolar.chapeau{
	font-size: 28px;
	@include leader(1);
	@include trailer(2);
}

p.is-skolar.chapeau-secondary{
	@include adjust-font-size-to(22px);
	@include leader(1);
	@include trailer(2);
}

p.is-bitter-regular{
	line-height: 25px;

}

p.is-bitter-regular.chapeau{
	font-size: 34px;

}

p.is-tisa-regular{
	line-height: 23px;

}

p.tisa-quote{
	@include respond-to($a-vp){
	font-family: 'tisa_otregular_italic';
	width: 90%;
	font-size: 34px;
	line-height: 40px;

	padding-bottom: 20px;

	}
	@include respond-to($c-vp){
	width: 110%;
	margin-left: -2.5%;
	}
}

p.tisa-note{
	font-family: 'unitblacktf';
	font-weight: 100;
	//width: 50%;
	font-size: 16px;
	//margin-left: 50%;

	@include trailer(8);
	text-align: right;
}

p.is-unit-thin{
	@include respond-to($a-vp){
	font-family: 'unitthin';
	font-weight: 100;
	font-size: 16px;
	text-align: right;
	@include trailer(2);
	}
	@include respond-to($e-vp){
	@include trailer(8);
	width: 30%;
	margin-left: 77%;
	}
}


p.is-tisa-regular.plus{
@include respond-to($a-vp){
	@include adjust-font-size-to(16px);	
	line-height: 22px;

	padding-bottom: 20px;
}
@include respond-to($c-vp){
	@include adjust-font-size-to(20px);
	line-height: 27px;
	}
}

p.is-tisa-regular.plus-home{
@include respond-to($a-vp){
	@include adjust-font-size-to(16px);	
	@include leader(-6);
	line-height: 22px;

	padding-bottom: 20px;
}
@include respond-to($c-vp){
	@include adjust-font-size-to(20px);
	line-height: 27px;
	}
}

p.is-tisa-regular.plus.first{
//border-bottom: 1px solid black;
}


p.is-tisa-regular.plus b{
	@include respond-to($a-vp){
	font-family: 'tisa_otbold';
	@include adjust-font-size-to(16px);
	line-height: 21px;

	padding-bottom: 20px;
	}
	//@include respond-to($c-vp){
	//@include adjust-font-size-to(20px);
	//line-height: 26px;
	//}
}

p.is-tisa-regular.plus i{
	@include respond-to($a-vp){
	@include adjust-font-size-to(16px);
	font-family: 'tisa_otregular_italic';
	line-height: 21px;

	padding-bottom: 20px;
	}
	//@include respond-to($c-vp){
	//@include adjust-font-size-to(20px);
	//}
}

p.is-tisa-regular.plus b i{
	@include respond-to($a-vp){
	font-family: 'tisa_otbold_italic';
	font-size: 16px;
	line-height: 21px;

	padding-bottom: 20px;
	}
	@include respond-to($c-vp){
	@include adjust-font-size-to(18px);
	}
}


p.is-tisa-regular.chapeau{
	font-family: 'tisa_otmedium';
	@include trailer(4);
	font-size: 34px;

		line-height: 40px;
}

p.is-tisa-regular.chapeau-home{
	font-family: 'tisa_otmedium';
	@include trailer(4);
	font-size: 30px;

		line-height: 40px;
}

sup.sup{
	vertical-align: super;
	font-size: 0.7em;
}


